@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.ant-typography {
  margin: 0 !important;
}

.ant-typography.ant-typography-heading {
  margin: 0 !important;
}

.ant-otp-input {
  width: 55px;
  height: 55px;
}

#root {
  height: 100%;
  width: 100%;
}